# Notebook cache
python/.ipynb_checkpoints

# Python cache
python/PID.egg-info
python/__pycache__

# CMake files
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

# binary files
pid-in-cpp
o2-analysistutorial-pid-with-onnx

# data and output
*.json
*.txt
*.csv
